PORT=7070
NODE_ENV=production

# MongoDB
MONGODB_URL=mongodb://admin:u3rsR86TaHeC@161.97.96.229:27017/bayyina?authSource=admin

# JWT
JWT_SECRET=694e5e60dc5af340d8eccaee
JWT_EXPIRES_IN=30d

# Admin seed account
ADMIN_PHONE=998889997388

# CORS - comma separated origins
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,https://dash.bayyina.org.uz,https://teacher.bayyina.org.uz,https://student.bayyina.org.uz

BOT_TOKEN=8733753403:AAFdHWVzDCuBo0HoytQuQlfqnWFmmTHkJ_8